<div class="title-container">
    <div>
        <a href="/post/{{id}}"> <h1 class="title">{{title}}</h1></a>
    </div>
    <div class="meta">
Posted By {{user.username}} on {{format_date created_at}}
    </div>
</div>
    <div class="post-text">
        <p>{{text}}</p>
    </div>